a{
    text-decoration: none;
}
/* Home Section */
#home{
    height: 68vh;
    margin-bottom: 40px;
}
#bio{
    color: #898EA2;
    letter-spacing: 4px;
    font-size: 2.5rem;
    font-weight: 700;
}

#bio_para{
    color: #898EA2;
    margin: 20px 0px;
}

.my_image{
    width: 280px;
    height: 280px;
    z-index: 1;
}

.svgs{
    width: 450px;
    height: 450px;
    right: 15%;
}

.resumeBtn{
    border-radius: 25px;
    color:  #252934;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 300;
    margin:  auto;
    cursor: pointer;
    border: 1px solid #FFDB0E;
    text-transform: uppercase;
    transition: .5s all;
}

.resumeBtn:hover{
    animation: buttonAnimate .8s ease-out;
}

.scrollDown{
    position: absolute;
    left: 50%;
    bottom: 4%;
}

/* Projects */
#projects{
    /* height: 100vh; */
    /* margin-top: 170px; */
    padding-top: 40px;
}

.proj-sec{
    background-color: yellowgreen;
    height: 400px;
}


/* Contact */
.contact{
    position: relative;
    background-color: #252934;
    height: 91vh;
}

.up{
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    background: #FFDB0E;
}

.fa-angle-double-up:before {
    content: "\f102";
    color: #252934;
}

.contact-head{
    padding-top: 40px;
    z-index: 1;
    color: white;
}

.contact::before{
    position: absolute;
    content: '';
    height: 80px;
    width: 50%;
    top: -47px;
    transform: skewY(7deg) translateY(8px);
    background-color: #252934;
    z-index: -1;
}

.contact::after{
    position: absolute;
    content: '';
    height: 80px;
    width: 50%;
    top: -47px;
    right: 0;
    transform: skewY(-7deg) translateY(8px);
    background-color: #252934;
    z-index: -1;
}

.contact-mail{
    color: white;
    padding-top: 50px;
}

.social-links a{
    color: white;
}

ul .social-links{
    padding-right: 40px; 
}
input[type = 'text'],input[type = 'email'],.form-group textarea{
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;
    background-color: #252934;
    color: #FFDB0E;
}

.form-group textarea{
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;
    background-color: #252934;
    color: #FFDB0E;
}

.subBtn{
    color: black;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid #FFDB0E;
    background-color: #FFDB0E;
}

@keyframes buttonAnimate{
    from{
        background-color: #FFE4E3;
    }
    to{
        background-color: #FFDB0E;
    }
}